<template name="footer">
	<footer class="container-fluid">
		<div class="row">
			<div class="col-xs-12 text-center">
				<small>
					Made By <a style="color: #a8eb12;" href="http://anasboukharta.com" target="_blank">Anas B</a>
					&nbsp;-&nbsp;
					<i class="fa fa-github fa-lg"></i>&nbsp;&nbsp;<a style="color: #a8eb12;" href="https://github.com/hypefi/wework-master2" target="_blank">Fork on GitHub</a>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
					<i class="fa fa-rss"></i> RSS <a style="color: #a8eb12;" href="/rss/jobs" target="_blank">Jobs</a> <a style="color: #a8eb12;" href="/rss/profiles" target="_blank">Developers</a>
					&nbsp;-&nbsp;
					<i class="fa fa-code"></i> JSON <a style="color: #a8eb12;" href="/api/jobs" target="_blank">Jobs</a> <a style="color: #a8eb12;" href="/api/profiles" target="_blank">Developers</a> 
				</small>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center" id="disclaimer">
				Khidma is an independent entity and has not been authorized, sponsored, or otherwise approved by <a style="color: #a8eb12;" href="http://www.meteor.com/">Meteor Development Group</a>.
			</div>
		</div>
	</footer>
</template>
