<template name="footer">
	<footer class="container-fluid">

		<div class="row">
			<div class="col-xs-12 text-center">
				<br>
				<small>
					<i class="fa fa-rss"></i> RSS <a style="color: #a8eb12;" href="/rss/jobs" target="_blank">Jobs</a> 
					&nbsp;-&nbsp;
					<i class="fa fa-code"></i> JSON <a style="color: #a8eb12;" href="/api/jobs" target="_blank">Jobs</a> 
				</small>
				<br>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
  				Khidma.io is made with love 💌 and faith for a better world 🌍 
			</div>
		</div>
	</footer>
</template>
