<head>
  <meta name="description" content="Khidma is a job board and community space for users of the Arab and Muslim World.  This site provides a complete listing of positions requiring the Arabic language skill set, as well as to profiles for Muslim workers and experts for hire.">
	<meta name="keywords" content="Khidma,distance,arab, muslim,Jobs,Developers,Contracts,Freelance,Remote,Telecommute,Consultants">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
	<link rel="icon" type="image/png" href="/images/favicon.png">
</head>
